.full-screen-background {
  background-image: url('/public/cat.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .full-screen-background {
    background-image: url('/public/cat-mobile.jpg');
    background-attachment: scroll; 
  }
}

.overlay-text {
  color: #fff;
  position: absolute;
  left: 3%;
  top: 59%;
  transform: translateY(-50%);
  /* max-width: 400px; */
}

.overlay-text h1, .overlay-text p, .overlay-text button {
  z-index: 2;
}

.mission-statement, .ways-to-help, .animal-carousel {
  background-color: rgba(248, 249, 250, 0.85);
  padding: 20px;
  margin: 20px 0;
}
